body
  {
  background-color: #EAF6F6;
  }

hr
  {
    border-color: Grey;
    border-width: 7px;
    border-style: dotted none none;
    width: 5%;

  }
h1
  {
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50px;
    color: #66bfbf;
    text-shadow: 1px 1px 2px black;
  }
h3
  {
    font: italic 1.2em "Fira Sans", serif;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    color: #66bfbf;
  }
